.register-background {
    background-image: url('/images/bg.png');
    min-height: 100vh;
    background-size : cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}